#a{
    text-align: center;
    background-color: gray;
    color: white;
}
.container {
    display: grid;
    grid-template-columns: 80px 200px auto 30px;
    gap: 10px;
    background-color: gray;
    padding: 10px;
    }
    .container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    }