table{
    border-collapse: collapse;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
th{
    border: 1px solid black;
    color: rgb(255, 255, 255);
    background-color: black;
}
td{
    border: 1px solid black;
}